body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color:#ad42aa;
    height: 60px;
    margin: 0px;
    position: fixed;
    z-index: 1000;
    width: 100%;

}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    overflow: hidden;
}
 ul li a{
    color: aliceblue;
    letter-spacing: 0.1rem;
    text-decoration: none;

 }   

ul li a:hover{
    border-radius: 20px;
    background-color: #a30676;
    padding: 15px;
    margin: 15px;

}
/*--------------------------------------------------------------
# profil
--------------------------------------------------------------*/
#profil{
    width: 100%;
    padding: 10px;
    background-color: #a30676;
  }
   #profil img{
    height: auto;
    width: 350px;
    border-radius: 100px;
    border: 6px solid #ad42aa;
    margin-left: 10%;
    margin-top: 50px;
  } 
  #profil-text{
    width: 550px;
  }
  .main{
    width: 1130px;
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
  }
  .profil-text h2{
    color: #511156;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 7%;
  }
  .profil-text h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    margin-left: 7%;
    
  }
  .profil-text p{
    color: #000;
    columns: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    margin-left: 5%;
  }
  span{
    color: #fff;
  }
  button{
    background-color: #ad42aa;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
  }
  button:hover{
    background-color: transparent;
    border: 2px solid #f8bf04;
    cursor: pointer;
  }
  /*--------------------------------------------------------------
# Formations et certifications
--------------------------------------------------------------*/
.Forma{
  background-color: #a30676;
  width: 100%;
  padding: 10px;
}
.titre h2{
  color: #ad42aa;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #ad42aa;
  border-radius: 300px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i{
  font-size: 30px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #a30676;
}
h5{
  color: #a30676;
  margin-bottom: 15px;
  font-size: 25px;
}
.pra p{
  color: #000;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button{
  background-color: #a30676;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .4s;
}
.card .button:hover{
  background-color: transparent;
  border: 2px solid #a30676;
  cursor: pointer;
}
.text-center .h3{
  vertical-align: inherit
}
/*--------------------------------------------------------------
# Compétence
--------------------------------------------------------------*/

#Compétence {
  background-color: #a30676;
  width: 100%;
  padding: 10px;
}
.section-titer h2 {
  color: #ad42aa;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.Compétence .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0px;
}
.Compétence .progress .competence {
  padding: 0px;
  margin: 0px 0px 6px 0px;
  text-transform: uppercase;
  display: block;
  font-weight: 600px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.Compétence .progress .competence .val {
  float: right;
  font-style: normal;
}

.Compétence .progress-bar-wrap {
  background: #ad42aa;
  height: 15px;
}

.Compétence .progress-bar1 {
  width: 500px;
  height: 15px;
  
  background-color: #fff;
}
.Compétence .progress-bar2 {
  width: 300px;
  height: 15px;
  transition: 1.9s;
  background-color: #fff;
}
.Compétence .progress-bar3 {
  width: 600px;
  height: 15px;
  background-color: #fff;
}
/*--------------------------------------------------------------
# Qualite personnelle
--------------------------------------------------------------*/


#qualite-personnelle {
  background-color: #a30676;
  width: 100%;
  padding: 10px;
}

.Quapersonnelle .titer h4 {
  color: #ad42aa;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.navbar{
  padding: 1rem 3rem;
}
.navbar ul li{
  margin: 0rem 0;
  list-style: none;
}
.navbar ul li a{
  display: block;
  width: 30rem;
  padding: 1rem;
  font-size: 2rem;
  color: #000;
  background: rgba(255, 255, 255, .2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  border-radius: 5rem;
}
.navbar ul li a:hover{
  background: rgba(255, 255, 255, .5);
  color: #a30676;
  transition: none;
}
/*--------------------------------------------------------------
# Experience
--------------------------------------------------------------*/

#experience{
  background-color: #a30676;
  width: 100%;
  padding: 10px;
}
.p-experience .p-titer h5 {
  color: #ad42aa;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.e-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px 0;
}
.e-container .e-card{
  position: relative;
  width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
              inset -5px -5px 5px rgba(255,255,255,0.5),
               5px 5px 5px rgba(0,0,0,0.05),
               -5px -5px 5px rgba(255,255,255,0.5);
  border-radius: 300px;
  margin: 30px;             
}
.e-box{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.e-container .e-card:hover  .e-box{
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
  background: linear-gradient(45deg, #ff568f, #a30676);
}
.e-container .e-card  .e-box .content{
  padding: 20px;
  text-align: center;
}
.e-container .e-card  .e-box .content h3{
  font-size: 1.8em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.e-container .e-card  .e-box .content p{
  font-size: 1em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}
.e-container .e-card  .e-box .content a{
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #03a9f4;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.e-container .e-card:hover  .e-box .content a{
  background: #ff568f;
}


/*--------------------------------------------------------------
# Reference
--------------------------------------------------------------*/

#references{
  background-color: #a30676;
  width: 100%;
  padding: 10px;

}

.d-title h1{
  color: #ad42aa;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
  margin: 20px;
}
.d-container .d-card {
  position: relative;
  display: inline-block;
  width: 15%;
  height: 30%;
  padding: 40px;
  margin-left: 130px;
}
.d-card .face-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
  display: flex;
}
.d-card .face-front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.d-card .face-front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.d-card .face-front img h4 {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 45px;
   line-height: 45px;
   color: #fff;
   background: rgba(0, 0, 0, .4);
   text-align: center;
}
.d-card .face-back {
      transform: perspective(600px) rotateY(180deg);
       background: rgb(3, 35, 54);
       padding: 15px;
       color: #f3f3f3;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
      text-align: center;
      box-shadow: 0 5px 10px #000;
  }
 .d-card .face-back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
 }
 .d-card .face-back .link a {
    color: #f3f3f3;
 }
 .d-card .face-back.h4 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
 } 
 .d-card .face-back p {
      letter-spacing: 1px;
 }
 .d-card:hover .face-front {
      transform: perspective(600px) rotateY(180deg);
 }
 .d-card:hover .face-back {
     transform: perspective(600px) rotateY(360deg);
 }
/*--------------------------------------------------------------
# Centre d'interet
--------------------------------------------------------------*/
@media screen and (min-width:113px){


#centredintret{
  background-color: #a30676;
  width: 100%;
  padding: 10px;
}
}

.c-title h2{
  color: #ad42aa;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.center{
  background: #a30676;
  height: 700px;
  width: 100%;
  padding: 10px 100px 20px;
  margin-left: -200px;
  margin-top: 0px;
 }
 .centree{
  position: relative;
  left: 20vh;
}
 .titre h4{
  background-color: #f04661;
  font-size: 75px;
  width: 946p2x;
  margin: 132px auto;
  text-align: center;
 }
 .centre{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
   
 }
 /* .cout{ 
  position: relative;
   bottom: 245px;
 }  */
 .row-2{ 
  display: flex;
  align-items: center;
  padding: 0px;
  margin-left: 150px;
 }
 /* .cardd{
  position: relative;
  bottom: 35vh;
 } */
 .box-5{
  display: flex;
  /*align-items: center;
 font-size :larger;*/
  flex-direction: column;
  width: 410px;
  height: 200;
  border: 1px solid #a30676;
  float: right;
  margin: 0px 40px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background:linear-gradient(to top, #ad42aa  50%, white 50%);
  background-size: 100% 200 ;
  transition: 2s;
   
 }


 .box-5:hover{
  transform: scale(1.3);
  background-position: left bottom;
  box-shadow: 1px 1px;

  bottom: none;
  box-shadow: 0 0 20px #a30676;

  }

  .box-5 img{
    width: 200px;
    height: 90%;
    background-color: #a30676;
    padding: 20px;
 }
 .box-5:hover {
 background: #fff;
 color: #fff;
}
footer 
{
position: relative;
width: 93%;
background: #a30676;
min-height: 100px;
padding: 70px 50px;
}
.footer .social_icon
{
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;

}
footer .social_icon li
{
list-style: none;
}
footer .social_icon li a
{
font-size: 2em;
margin: 0 10px;
display: inline-block ;
transition: 0.5%;
}
footer .social_icon li a :hover
{ 
transform:translateY(-05px);

}
.footer.menu li a
{
font: size 1.2em; 
color: #ad42aa;
margin: px 10px;
display: inline-block;
text-decoration: none;
opacity: 0.75; 

}
.footer.menu li a :hover
{
opacity: 1;
}

/*----------------------------------------------------------------
#FOOTER

--------------------------------------------------------------------*/
@media (min-width:768px) {
  

.footer{
  width: 70%;
  padding: 80px 15%;
  background:#a30676 ;
  color: #fff;
  display: flex;
}
}
.footer div{
  text-align: center;
}
.col-2{
  flex-grow: 2;
}
.footer div{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;

}
.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;

}
form input{
  width: 300px;
  height: 35px;
  border-radius: 300px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 30px;
  outline: none;
  border: none;
}
form button{
  background-color:#ad42aa;
  border: 2px solid #a30676;
  color: #fff;
}
.social-icons i{
  font-size: 40px;
  margin: 10px;
  cursor: pointer;
}
.social-icons{
  margin-top: 30px;
}


